#content h3{
    color: white;
}
#content p{
color: #aaa
/* opacity: 90%; */
}

#content p strong,ol,li{
    color: white;
}

#content p strong a{
    color: white;
}
#content p a{
    color: white;
}

#content li::marker{
    color: #aaa
}
#content li{
    color: #aaa;
}
