<!DOCTYPE html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }} <link rel="stylesheet" href="{{ "/css/style.css"
    | relURL }}">
    <link rel="icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon" href="/images/favicon.png" />
  </head>
  <body class="bg-black">
    <header class="py-6  border-white/10 bg-black fixed top-0 backdrop-blur-lg bg-transparent left-0 z-10 mx-auto w-full">
      {{- partial "header.html" . -}}
    </header>
    <main class="max-w-7xl mx-auto py-10 pt-16 px-6 md:px-6 lg:px-10 bg-black ">
      {{- block "main" . }}{{ end -}}
    </main>
    <footer class="pt-10 md:pt-12 bg-black">
      {{- partial "footer.html" . -}}
    </footer>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        console.log(window.location.pathname);
        window.logPageView();
      });
      const currentDate = new Date();
      const year = currentDate.getFullYear();
      document.getElementById("year").innerHTML = year;
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
