{{ define "main" }}

<section class="mb-16">

    {{ $cat := "Blogs" }}

    <div class="flex items-center mb-6">

      <h2 class="text-3xl md:text-4xl font-bold mr-auto">{{ $cat | humanize }}</h2>

      <a class="border rounded-full py-2 px-4 md:px-6 hover:bg-blue-100" href="{{ printf "/categories/%s" $cat | absURL }}">View All</a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-10">

    {{ range where .Site.RegularPages "Params.categories" "intersect" (slice $cat ) | first 6 }}

      {{- partial "content/card" . -}}

    {{ end }}

    </div>

  </section>

<!-- / End category post --> 
<hr class="my-8">
<!-- Start recent post  -->

  <section class="mb-16">

    <div class="flex items-center mb-6">

      <h2 class="text-3xl md:text-4xl font-bold mr-auto">Recent Post</h2>

    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-10">

    {{ $paginator := .Paginate ( where site.RegularPages "Type" "in" site.Params.mainSections) }}

    {{ range $paginator.Pages }}

      {{- partial "content/card" . -}}

    {{ end }}

    </div>

    <!-- Paginate here -->

    <div class="flex items-center mt-10">
      {{- if $paginator.HasPrev -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200 mr-auto" href="{{ $paginator.Prev.URL }}">← Previous</a>
      {{- end -}}

      {{- if $paginator.HasNext -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200" href="{{ $paginator.Next.URL }}">Next →</a>
      {{- end -}}
    </div>

  </section>

<!-- / End recent post  -->
{{ end }}
