<div class="footer">

  <div class=" footer-content">

    <div class="space-y-6 mb-4">

      <div class="w-full  flex flex-col space-y-4 ">

        <a class="flex items-center group" href="{{ .Site.BaseURL }}">

          <div class="photogpt-footer">
            <h1><a href="{{ .Site.BaseURL }}">
                <img src="/images/photogptLogo.png" alt="photoGPT">
              </a></h1>
          </div>
        </a>

        <p class="font-semibold footer-para">
          Create unlimited themed, professional <br> and casual images using generative AI.
        </p>

      </div>
      <div class="self-center flex flex-col w-full md:w-2/5">

        {{ partial "content/social-media.html" . }}

      </div>

     
    </div>


    <div class="flex flex-col link-section">
      <h2>Links</h2>
      <a href="/" >Home</a>
      <a href="/tags" >Tags</a>
      <a href="https://www.photogptai.com/#faqs" >FAQs</a>
    </div>
    <div class="flex flex-col link-section">
      <h2>Ventures</h2>
      <a href="https://odineye.xyz/?lang=en_us">Odineye</a>
      <a href="https://www.cosmi.skin" >Cosmi Skin - AI skincare</a>
      <a href="https://www.theaicompany.xyz/" >The AI Company</a>
    </div>
    <div class="flex flex-col link-section">
      <h2>Legal</h2>
      <a href="https://www.photogptai.com/legal/terms-and-conditions">Terms of Service</a>
      <a href="https://www.photogptai.com/legal/privacy-policy">Privacy Policy</a>
      <a href="https://www.photogptai.com/cancellation-refund">Cancellation / Refund</a>
    </div>


  </div>


  <div class="border-t border-zinc-100 pt-4 text-center copyright ">

    <p class="text-md ">Copyright © {{ now.Year }}. The AI Company LLC. All rights reserved.. </p>

  </div>

</div>