
<div class="max-w-7xl mx-auto px-4 md:px-4 lg:px-4 flex flex-col max-h-10">
  <div class="flex items-center max-h-10">
    <div class="flex items-center justify-between w-full h-10">
      <div
        class="relative rounded-full py-1.5 text-xl font-bold uppercase mx-2"
      >
        <a
          class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto h-10"
          href="https://www.photogptai.com/"
        >
          <img
            id="logo"
            src="/images/photogptLogo.png"
            width="140px"
            height="70px"
            alt="photoGPT"
            class=""
          />
        </a>
      </div>
    </div>
  </div>
</div>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
