<div class="max-w-7xl mx-auto px-4 md:px-4 lg:px-4 flex flex-col max-h-10">
  <div class="flex items-center max-h-10">
    <div class="flex items-center justify-between w-full h-10">
      <div
        class="relative rounded-full py-1.5 text-xl font-bold uppercase mx-2"
      >
        <a
          class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto h-10"
          href="https://www.photogptai.com/"
        >
          <img
            id="logo"
            src="/images/photogptLogo.png"
            width="100px"
            height="70px"
            alt="photoGPT"
            class=""
          />
        </a>
      </div>

      <a href="https://www.photogptai.com/dashboard"
        ><button
          class="text-white bg-gradient-to-tr from-indigo-500 via-purple-500 to-pink-500 rounded-lg text-xs lg:text-base px-3 lg:px-6 py-2 lg:my-3"
        >
          Start Now For Free
        </button></a
      >
    </div>
  </div>
</div>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  const element = document.getElementById("logo");

  const mediaQuery = window.matchMedia("(min-width: 768px)");
  if (mediaQuery.matches) {
    element.setAttribute("width", 160);
  }
</script>
